# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/private/
/nbproject/
/build.xml
/manifest.mf
/vpproject/
/BreakoutGame/nbproject/private/
/BreakoutGame/build/
/BreakoutGame/dist/
/BreakoutGame_3/nbproject/private/
/BreakoutGame_3/build/
/BreakoutGame_3/dist/
/BreakoutGame_3/
/ExcellTest/nbproject/private/
/ExcellTest/build/
/BreakoutGame_1/nbproject/private/
/BreakoutGame_1/build/
/BreakoutGame_1/dist/
/BreakoutGame_2/nbproject/private/
/BreakoutGame_2/dist/
/BreakoutGame_2/build/
/BOBToolbqr/build/
/BOBToolbqr/dist/
/BOBToolbqr/nbproject/private/